<div class="d-flex">
  
  <div class="bg-dark border-right p-3" id="sidebar" >
    <h3 class="text-light">
      GifsApp
    </h3>
    <hr class="text-white">
    <div class="list-group list-reset">
      <a href="#"
        class="list-group-item list-group-item-action">
        Dashboard
      </a>
    </div>

  </div>
<!-- in de Sidebar -->
  
  <div class="container">
    <div class="row p-3">
      <div class="col">
        <h3>Buscar:</h3>
        <input type="text" class="form-control" placeholder="Buscar gifs...">
      </div>
    </div>

    <hr>
    
  <div class="row">
    <div class="col">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit unde officia sunt. Labore delectus odit eligendi, inventore dolorum quam aliquid, iusto quae quis alias molestiae asperiores doloremque saepe nulla eos!
    </div>
  </div>
  </div>
  


</div>